.ju_overlay {
    display: none !important;
}

.modalcontent {
    display: none !important;
}

.shopify-section-popup-subscription {
    display: none !important;
}

.modal-backdrop {
    display: none !important;
}

#ju_overlay {
    display: none !important;
}

#modalcontent {
    display: none !important;
}

#shopify-section-popup-subscription {
    display: none !important;
}

#modal-backdrop {
    display: none !important;
}


/* for ongossamer */

.mc-modal-bg {
    display: none;
}

.mc-modal {
    display: none;
}
