/* injected css file to remove popups */

/* For grayers and Shabbychic*/ 
.ju_overlay {
    display: none !important;
}

#ju_overlay {
    display: none !important;
}

.ju_iframe {
    display: none !important;
}

.modalcontent {
    display: none !important;
}

#modalcontent {
    display: none !important;
}

.shopify-section-popup-subscription {
    display: none !important;
}

#shopify-section-popup-subscription {
    display: none !important;
}

.modal-backdrop {
    display: none !important;
}

#modal-backdrop {
    display: none !important;
}


/* for ongossamer */

.mc-modal-bg {
    display: none !important;
}

.mc-modal {
    display: none !important;
}

/* for bedhead */
.shopify-section homepage-newsletter-popup {
    display: none !important;
}

#shopify-section-email-popup {
    display: none !important;
}
