@import url('https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap');


body {
    text-align: left;

}
.landing {
    font-family: 'Crimson Pro', serif;
    margin: 0 auto;
    margin-top: 40vh;
    width: 800px;
}

.cs {
    margin: 20px;
}

.title {

    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.links {
    margin: 20px;
}
.desc {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

@media and (max-width: 900px) {
    .landing {
        margin-top: 30vh;
        width: 90vw;
    }
    .title {
        font-size: 1.5rem;
    }
    .desc {
        font-size: 1.2rem;
    }

}

