/*  general formatting */
body {
    font-family: 'helvetica neue';
    font-size: 14px;
}

/* for the title on each subpage */
.title {
    /* padding-top: 300px; */
    padding-top: 50px;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 500;
}
/* for the descriptions on each subpage */
.subtext {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 300;
    font-size: 18px;
}
/* for the home helper button on each subpage */
.home {
    padding-top: 30px;
    padding-left: 10px; 
    font-size: 18px;
    font-weight: 400;
}

.landingText {
    position: absolute;
    top: 20%;
    -moz-transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
}

/* for the MAIN greeting message on index */
.greeting {
    font-size: 24px;
    font-weight: 500;
    padding-top: 300px;
    padding-left: 10px;
    color: #000000;
}

/* for the MAIN selector items on index */
.selectors {
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 18px;
}
/* for the subselection links on index */
.subselections {
    padding-left: 10px;
    font-weight: 300;
    font-size: 14px;
    padding-bottom:10px;
}
/* for the footer on every page */
.footer {
    position: fixed;
    left: 20;
    bottom: 20;
    width: 100%;
    text-align: left;
    font-size: 18px;
}

/* WRITING */
.post {
    padding-left: 40px;
    padding-top: 10px;
}

.postTitle {
    font-size: 16px;
    font-weight: 500;
}

.postDate {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    padding-top: 5px;
}

.postContent {
    font-size: 14px;
    font-weight: 300;
    padding-right: 40px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*                      
---------RESUME---------
*/                      
.name {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 500;
}
.intro {
    padding-left: 30px;
    font-size: 12px;
    font-weight: 300;
}
.header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 700;
}
.courses {
    font-weight: 300;
    font-size: 12px;
    padding-left: 30px;
}
.company {
    padding-bottom: 0px;
    font-weight: 700;
    padding-left: 20px;
}
.desc {
    font-size: 12px;
    padding-left: 30px;
    padding-top: 0px;
    font-weight: 300;
    padding-bottom: 10px;
}
.skills {
    padding-left: 30px;
    font-size: 12px;
    font-weight: 300;
}

/* END RESUME */